// @import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

//header code

// @font-face {
//     font-family: myFirstFont;
//     src: url("../assets/font/brandon/Brandon_reg.otf");
// }

body {
    // font-family: "Fira Sans", sans-serif !important;
    // font-family: 'Poppins', sans-serif !important;
    font-family: "Atkinson Hyperlegible", sans-serif !important;
    background-color: #f2f2f2 !important;
    color: #000 !important;
}

// .owl-carousel {
//     touch-action: none;
// }

.lineclamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lineclamptwo {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: "Squada One", cursive;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    margin: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 18px;
}

p {
    font-size: 17px !important;
    font-weight: 400;
    // line-height: 26px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 0 0 #ddd;
}

.sideNavClose i {
    cursor: pointer;
    background: #154a94;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 2.3;
    color: #ffff;
}

/* side scroll */

body::-webkit-scrollbar {
    width: 8px;
    height: 50px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #154a94;
    outline: 1px solid #154a94;
}

body::-webkit-scrollbar-thumb:hover {
    background: #154a94;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}

// top header sec
.topHeader {
    // background: linear-gradient(45deg, #0e90d5, #3032a2);
    background: linear-gradient(45deg, #000000, #000000);
    font-size: 14px;
    .socialMedia a {
        color: #fff;
        margin-left: 15px;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }
    .address {
        font-size: 15px;
    }
}

// .flaticon-shout:before {
//     content: "\f110";
// }

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

#mainHeaderSec {
    -khtml-box-shadow: 0 2px 1px #00000014;
    -moz-box-shadow: 0 2px 1px #00000014;
    -ms-box-shadow: 0 2px 1px #00000014;
    -o-box-shadow: 0 2px 1px #00000014;
    box-shadow: 0 2px 1px #00000014;
    -moz-transition: all 600ms ease-out 0s;
    -webkit-transition: all 600ms ease-out 0s;
    -ms-transition: all 600ms ease-out 0s;
    -o-transition: all 600ms ease-out 0s;
    transition: all 600ms ease-out 0s;
    transition: top 0.8s;
    .mainHeader {
        font-weight: 600;
        font-size: 17.5px;
        color: #000;
        .side-panel span {
            margin: 3px 0;
            transition: 0.3s;
            float: right;
        }
        .bar1 {
            width: 45px;
            background: #154a94;
            height: 2px;
        }
        .bar2 {
            width: 75%;
            background: #154a94;
            height: 2px;
        }
        .bar3 {
            width: 35%;
            background: #154a94;
            height: 2px;
        }
        img {
            width: 130px;
        }
        .nav-item {
            .nav-link {
                color: #000;
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 600;
                text-transform: uppercase;
                &:hover {
                    color: #154a94;
                }
            }
        }
        h4 {
            font-weight: 700;
        }
    }
    // header
    .navbar-nav {
        .dropdown {
            transition: all 300ms ease-out 0s;
            &:hover .dropdown-menu {
                transform: scale(1);
                a {
                    padding: 10px 30px 12px 30px !important;
                }
            }
        }
        li {
            .dropdown-menu {
                background-color: #fff !important;
                padding: 0;
                margin-top: 0;
                transform: scale(0);
                .dropdown-item {
                    &:hover {
                        background-color: #154a94;
                        color: #fff !important;
                    }
                }
            }
        }
    }
}

// talent aquasation
.bgimageserviceta {
    background-image: url("../assets/images/banners/talentaquisition.png");
}

// technology development
.bgimageservicetg {
    background-image: url("../assets/images/banners/technologydevelopment.png");
}

// startegy consulting
.bgimageservicesc {
    background-image: url("../assets/images/banners/strategicconsulting.png");
}

// about
.bgimageserviceabout {
    background-image: url("../assets/images/banners/about.png");
}

// contact
.bgimagecontact {
    background-image: url("../assets/images/banners/Contactus.jpg");
    box-shadow: inset 0 0 0 1000px #14141480;
    background-attachment: fixed;
}

// carrers
.bgimagecareers {
    background-image: url("../assets/images/banners/careers.png");
}

.bgimageservice {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // height: 370px;
    padding: 130px 0;
    .rounded {
        box-shadow: -1px 3px 10px 0 #0000000f;
        position: absolute;
        bottom: -26px;
    }
    h1 {
        color: #fff;
    }
}

.aboutSec {
    // p {
    //     font-size: 15px;
    //     line-height: 1.7;
    // }
    .exp-img-wrapper.right-side:after {
        content: "";
        position: absolute;
        right: -25px;
        top: 0;
        width: 250px;
        z-index: -1;
        background-color: #6b58ff;
    }
}

.sericeQuickLinks a {
    padding: 15px 25px 15px 30px;
    font-weight: 900;
    color: #1a538f;
    border: 2px solid rgb(177, 165, 165);
    margin-bottom: 15px;
    &:hover {
        background-color: #1a538f;
        border: 2px solid #1a538f;
        color: #fff;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
    }
}

/* Standard syntax */
@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

// .bgone,
// .bgtwo,
.bgone {
    height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 1000px #1314148f;
    //  -webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
    // animation: zoom 50s;
    h1 {
        color: #fff;
        max-width: 740px;
        // font-size: 40px;
        line-height: 60px;
        span {
            color: #1a538f;
        }
    }
    // a {
    //     background: transparent;
    //     color: rgb(255, 255, 255);
    //     padding: 10px 30px;
    //     border: 2px solid white;
    //     font-weight: 500;
    //     &:hover {
    //         background-color: #ffffff;
    //         color: rgb(0, 0, 0);
    //     }
    // }
}

.bgone {
    // background-image: url("../assets/images/banner1.jpg");
    // background-image: url("../assets/images/banner2.jpg");
    background-image: url("../assets/images/banner3.jpg");
    background-position: center;
}

.bgtwo {
    background-image: url("../assets/images/banner2.jpg");
    background-position: center;
}

.bgthree {
    background-image: url("../assets/images/banner3.jpg");
    background-position: top;
}

.testimonials,
.clients {
    padding: 40px 0;
}

.homeabout {
    padding: 70px 0;
}
// .technologies {
//     padding: 50px 0 60px 0;
//     .rounded{
//     background-color: #135490;

//     }
//     .technologies1 {
//         background-color: #285ec1;
//         border-radius: 50%;
//         width: 190px;
//         height: 190px;
//     }
// }
.before::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: relative;
    top: 6px;
    margin-left: 8px;
    color: #39b54a;
}

.after::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    position: relative;
    top: -6px;
    margin-right: 8px;
    color: #39b54a;
}

.homeabout {
    .abouthomeimage {
        // border-radius: 10%;
        // padding: 5px;
        // border: 5px solid #ffffff;
        // box-shadow: 0 5px 30px 0 #d6d7d891;
    }

    a {
        background-color: #2e2929;
        color: #ffffff;
        text-align: center;
        padding: 8px 25px 10px 25px;
        line-height: 1.5;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.25s cubic-bezier(0, 0, 0.41, 1);
        border: none;
        outline: none;
        &:hover {
            color: #fff;
        }
    }
}

.task {
    display: flex;
    flex-direction: column;
    h3 {
        background-color: #154a94;
        padding: 10px 25px;
        margin: 0px;
        color: #fff;
    }
    a {
        background-color: whitesmoke;
        text-decoration: none;
        padding: 15px 0 15px 20px;
        color: black;
        &:hover {
            background-color: rgb(11, 129, 41);
            color: #fff;
        }
    }
    .active {
        border-left: 3px solid #2a44a5;
        border-radius: 10px 0;
    }
}

.servicesHome {
    background-image: url("../assets/images/home1-bg3.png");
    background-color: #135490;
    background-position: bottom center;
    background-repeat: no-repeat;
    // padding-top: 70px;
    // padding-bottom: 70px;
    .icon {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        display: inline-block;
        height: 80px;
        width: 80px;
        line-height: 80px;
        text-align: center;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            left: 0;
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
            border-radius: 10px;
            background: linear-gradient(62.5deg, transparent, rgba(237, 245, 255, 0.9));
            z-index: -1;
        }
    }
    h4 {
        font-size: 28px;
    }
    h2 {
        font-size: 48px;
    }
    a {
        color: #1a538f;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        font-weight: 600;
        font-size: 15px;

        &:hover {
            margin-left: 10px;
        }
    }

    .serviceCard {
        position: relative;
        background: #f2f2f2;
        // border-radius: 0 0 0 10px;
        img {
            width: 120px;
        }
        // .rounded {
        //     padding: 33px 0 27px;
        //     background-color: #fff;
        //     box-shadow: -1px 3px 10px 0 #574cf61c;
        // }
        .countTop {
            width: 50px;
            background: #135490;
            height: 50px;
            border-radius: 50% 0;
            text-align: center;
            line-height: 51px;
            position: absolute;
            font-weight: bold;
            top: 0;
            right: -1px;
            color: #fff;
        }
        &:hover {
            a {
                margin-left: 15px;
                // tar
            }
        }
    }
}

.technologies {
    // background-image: url("../assets/images/technologiesBG.jfif");
    // background-size: cover;
    // background-position: center;
    .rounded {
        padding: 33px 0 27px;
        background-color: #fff;
        box-shadow: -1px 3px 10px 0 #574cf61c;
    }
    img {
        width: 55px;
    }
}

.clients {
    .client1,
    .client6 {
        border-radius: 0 10px;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-body::after {
    border-radius: 15px;
    position: absolute;
    background: #154a94;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    content: "";
    right: 0;
    margin: 0 auto;
    -moz-transition: all 400ms ease-out 0s;
    -webkit-transition: all 400ms ease-out 0s;
    -ms-transition: all 400ms ease-out 0s;
    -o-transition: all 400ms ease-out 0s;
    transition: all 400ms ease-out 0s;
    opacity: 0.6;
    z-index: 0;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .col-12 {
        // margin-top: 50px;
    }
    .mainHeader .container {
        .nav-item {
            margin: 0;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .mainHeader .container {
        // padding: 25px;
        .nav-item {
            margin: 0;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .cardsections {
        .col-12 {
            margin-top: 100px;
        }
    }
    .mainHeader .container {
        // padding: 25px;
        .nav-item {
            margin: 0;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .cardsections {
        .col-12 {
            margin-top: 120px;
        }
    }
    .nav-item {
        margin-left: 20px;
    }
    .navbar-nav li .dropdown-menu {
        display: block;
    }
}
@media (max-width: 992px) {
    .bgimageservice {
        height: 300px !important;
        background-position: center !important;
    }
    .bgone,
    .bgtwo,
    .bgthree {
        height: 480px !important;
        h1 {
            color: #fff;
            max-width: 740px;
            font-size: 30px;
            line-height: 60px;
            // padding: 5px 30px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
    .cardsections {
        .col-12 {
            margin-top: 120px;
        }
    }
    .nav-link {
        // padding: 30px 0 !important;
    }
    .nav-item {
        margin-left: 25px;
    }
    .navbar-nav li .dropdown-menu {
        display: block;
    }
    .contactPageForm {
        // padding: 80px 0;
    }
}

// contact page starts

.contactPageDetails {
    background-color: #1a538f;
  

    .contact-details {
        margin-left: 1.5rem;
        h5 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        p {
            // font-size: 17px;
            a {
                color: #280303;
            }
        }
    }
}

//   clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 79%, 0 100%, 0% 50%);
.contact-card {
    // background: #c1edc714;
    // padding: 25px;
    // border-radius: 5px;
    // box-shadow: 0px 0px 4px 0px #c9c9c9;
}
.contact-icon i {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    color: #1a538f;
    font-size: 20px;
}

.contactPageForm {
    background-image: url("./../assets/images/map.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;

    p {
        // font-size: 17px;
        margin-bottom: 40px;
    }
    .social-list {
        display: flex;
        padding: 0;
        li {
            margin-right: 10px;
            height: 35px;
            width: 35px;
            background: #154a94;
            text-align: center;
            border-radius: 5px;
            &:hover {
                background: linear-gradient(45deg, #0e90d5, #3032a2);
            }
            a {
                font-size: 16px;
                line-height: 37px;
                color: #fff;
            }
        }
    }
    form {
        .form-group {
            margin-bottom: 15px;
            input {
                height: 56px !important;
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type="number"] {
                -moz-appearance: textfield;
            }

            input,
            textarea {
                border: 2px solid whitesmoke;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #17305e;
                height: auto;
                resize: none;
                min-width: 100%;
                &:focus {
                    border: 2px solid #1a538f;
                }
            }
        }
        .cs-btn-one {
            border: 0;
            background-color: #103268;
            color: #fff;
            padding: 9px 30px;
            border-radius: 5px;
            font-weight: 500;
            transition: all 0.2s ease;
            &:hover {
                background-color: #39b54a;
            }
        }
    }
}

.mission_values {
    // box-shadow: 0px 0px 4px 0px #969696cc;
    border-radius: 5px;
    .row {
        // padding-top: 20px;
        // padding-bottom: 20px;
        // background-color: #ffffff;
    }
}

// contact page ends

footer {
    // background-image: url("../assets/images/footer map.png");
    background-color: #1c1c1c;
    box-shadow: inset 0 0 0 1000px #808fe212;
    color: #fff;
    .footer {
        // display: flex;
        // justify-content: space-between;
        // width: 48%;
        // max-width: 1400px;
        // margin: auto;
        // flex-wrap: wrap;
        h4 {
            margin: 7px 0 4px 0;
            font-size: 20px;
            letter-spacing: 1px;
            color: rgb(255, 255, 255);
        }

        .aboutUs,
        .contact {
            cursor: pointer;
        }
        address {
            margin-bottom: 5px;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                line-height: 30px;
                font-weight: 300;
                margin-top: 6px;
                cursor: pointer;
                &:hover {
                    color: black;
                }
            }
        }
        a {
            color: rgb(255, 255, 255);
        }
        .logo-section {
            & > img {
                width: 290px;
                margin-bottom: 25px;
            }
        }
    }
    .socialMedia {
        a {
            background-color: #224e91;
            height: 33px;
            width: 33px;
            display: inline-block;
            color: white !important;
            text-align: center;
            border-radius: 50%;
            line-height: 33px;
            font-size: 12px;
            margin-right: 10px;
            &:hover {
                background-color: #39b54a;
                color: #fff;
            }
        }
    }
}

.allservices {
    .service-text-center {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 30px;
        word-break: break-word;
    }
    .card {
        box-shadow: 0 0 20px #0000001a;
        border-radius: 10px;
    }

    .service_card {
        padding-bottom: 30px;
        .card-body {
            padding: 30px;
            .card-title {
                font-size: 20px;
                margin-bottom: 10px;
            }
            .card-text {
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 10px;
            }
            a {
                color: #103268;
                vertical-align: middle;
                font-weight: 500;
                transition: all ease 0.5s;
                &:hover {
                    margin-left: 10px;
                }
            }
        }
    }
}

// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
// * {
//     box-sizing: border-box;
// }

// body {
//     font-family: Montserrat, sans-serif;
//     margin: 50px;
//     background-color: #26a69a;

//     > h1 {
//         text-align: center;
//     }

//     > h1 {
//         margin: 40px;
//         color: #ffffff;
//     }
// }

// $theme-color: #f6671f;
// $outer-circle-width: 200px;
// $inner-circle-width: 150px;

// .circle-container {
//     display: flex;
//     justify-content: center;

//     .outer-circle {
//         width: $outer-circle-width;
//         height: $outer-circle-width;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 50%;

//         .inner-circle {
//             width: $inner-circle-width;
//             height: $inner-circle-width;
//             box-sizing: content-box;
//             border: (($outer-circle-width - $inner-circle-width) / 2) solid $theme-color;
//             transform: rotate(45deg);
//             border-radius: 50%;

//             .inner-circle-content {
//                 background: #ffffff;
//                 border: 5px solid #ffffff;
//                 box-sizing: border-box;
//                 border-radius: 50%;
//                 width: 100%;
//                 height: 100%;
//                 transform: rotate(-45deg);
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 flex-direction: column;
//                 box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.3);

//                 span {
//                     font-size: 1.2rem;
//                     font-weight: bold;
//                     text-transform: uppercase;
//                 }

//                 svg {
//                     margin-top: 15px;
//                 }
//             }
//         }

//         svg path {
//             stroke: $theme-color;
//             fill: $theme-color;
//         }

//         &:not(:first-child) {
//             margin-left: -((($outer-circle-width - $inner-circle-width) / 2) - 1);
//         }

//         &:nth-child(odd) {
//             .inner-circle {
//                 border-top-color: transparent;
//                 border-left-color: transparent;
//             }
//         }
//         &:nth-child(even) {
//             margin-top: 1px;

//             .inner-circle {
//                 border-bottom-color: transparent;
//                 border-right-color: transparent;
//             }
//         }
//         &:first-child {
//             .inner-circle {
//                 border-left-color: $theme-color;
//             }
//         }
//     }

//     @media (max-width: 767px) {
//         flex-direction: column;
//         align-items: center;

//         .outer-circle {
//             .inner-circle {
//                 transform: rotate(135deg);
//                 .inner-circle-content {
//                     transform: rotate(225deg);
//                 }
//             }

//             &:not(:first-child) {
//                 margin-left: 0px;
//                 margin-top: -((($outer-circle-width - $inner-circle-width) / 2) - 1);
//             }
//         }
//     }
// }

// card services

.box {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.box img {
    width: 100%;
    height: auto;
}
.box .box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(144, 70, 86, 0.7);
    color: #f9eee8;
    padding: 30px 20px;
    transform: scale(0);
    transition: all 0.5s ease 0s;
}
.box:hover .box-content {
    transform: scale(1);
}
.box .title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 15px;
}
.box .description {
    font-size: 14px;
    margin-bottom: 15px;
}
.box .social-links {
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .social-links li {
    display: inline-block;
    margin-right: 10px;
}
.box .social-links li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 17px;
    color: #f9eee8;
    border: 1px solid #f9eee8;
    transition: all 0.5s ease 0s;
}
.box .social-links li a:hover {
    background: #904656;
    border: 1px solid #904656;
}
.box .heading {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(12, 1, 25, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    transition: all 0.5s ease 0s;
}
.box:hover .heading {
    bottom: -30%;
}
.box .heading h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
}
@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 360px) {
    .box .box-content {
        padding: 10px;
    }
    .box:hover .heading {
        bottom: -40%;
    }
}
